
<div id="cart">
  <h4>Cart Total: {{cartTotal}}</h4>
  <p>Minimum: {{cartMinimum}}.
    <!-- <span ng-if="cartTotal >= cartMinimum">YES</span> -->
    <button ng-if="cartTotal >= cartMinimum" ng-click="selectProvider()">Checkout</button>
    <span ng-if="cartTotal < cartMinimum">Don't meet minimum</span>
  </p>
  <div ng-repeat="item in cart track by $index" class="cartItem">
    <h3>{{item.name}}</h3>
    <h4>qty ({{item.qty}})</h4>
    <h4>${{item.totalPrice}}</h4>
    <p ng-repeat="option in item.optionsSelected track by $index">-{{option}}</p>
    <button ng-click="openOptions(item)">Edit</button>
  </div>
</div>
