

<h1>{{entry.name}}</h1>
<h2>{{entry.price}}</h2>
<h3>{{entry.description}}</h3>

<div ng-repeat="option in entry.custom_options">
  <h3>{{option.header}}</h3>
  <h4 ng-if="is_required">Required</h4>
  <h4>{{option.disclaimer}}</h4>
  <h4>{{option.sub_header}}</h4>
  <h4>section_price: {{option.section_price}}</h4>

  <div ng-repeat="opt in option" ng-if="opt.selection_type === 'checkbox'">
    <h2>Select Multiple</h2>
    <h5>{{opt.name}}</h5>
    <h5>{{opt.description}}</h5>
    <h5 ng-if="opt.price !== '0.0' || opt.price !=== 0">{{opt.price}}</h5>
  </div>

  <div ng-repeat="opt in option" ng-if="opt.selection_type == 'radial' || opt.selection_type == 'dropdown' || opt.selection_type == 'radio'">
    <h2>Select One</h2>
    <h5>{{opt.name}}</h5>
    <h5>{{opt.description}}</h5>
    <h5 ng-if="opt.price !== '0.0' || opt.price !=== 0">{{opt.price}}</h5>
  </div>

</div>

