
<h2 ng-if="userAddress">Address : {{userAddress}}</h2>
<div ng-if="!userAddress">
  <h2>No address, please insert one</h2>
  <addressbar></addressbar>
  <button ng-click="searchForRestaurants()">search</button>
</div>


<div class="menu-left">
  <div ng-repeat="section in menu.sections" ng-if="section.is_displayed">
    <h3>{{section.name}}</h3>
    <div ng-repeat="entry in section.entries" ng-if="entry.is_displayed">
      <entry entry="entry"></entry>
    </div>
  </div>
</div>

<div class="menu-right">
  <h2>Cart</h2>
  <cart></cart>
</div>